# Ignorar binários e objetos compilados
/bin/
/obj/
*.o

# Ignorar arquivos temporários e caches da IDE
*.depend
*.layout

# Ignorar arquivos executáveis gerados
*.exe
*.out

# Ignorar diretórios temporários
*.tmp
*.temp
